[*.cs]

# CA1031: Не перехватывать исключения общих типов
dotnet_diagnostic.CA1031.severity = none

# CA1303: Не передавать литералы в качестве локализованных параметров
dotnet_diagnostic.CA1303.severity = none

# Default severity for analyzer diagnostics with category 'Usage'
#dotnet_analyzer_diagnostic.category-Usage.severity = none

# CA2225: Для перегрузок операторов существуют варианты с именами
dotnet_diagnostic.CA2225.severity = none
