<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>VRpc</title>
    @*<link href="/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />*@
</head>
<body>
    Hello World!
    @*<script type="module" src="~/js/vrpc.js" asp-append-version="true"></script>*@
</body>
</html>